.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
 
  grid-template-areas:
  "header header"
  "nav cont";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
grid-area: header;
background-color: aquamarine; 
}
.logo-img{ 
  width: 40px;
}
.nav {
grid-area: nav;
background: #300df3a1;
}

.nav div {
  padding: 15px;
  text-align: center;
}

.nav div a{
  text-decoration: none;
  color: #fff;
}

.nav div:hover{
  background: #160477a1;
    }

  .nav div:active{
    background: #c1b6faa1;
    }
.content {
grid-area: cont; /*можно называть по своему усмотрению */
background-color: burlywood;
}
.ava-img {
  width: 100px;
}

