.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
 
  grid-template-areas:
  "header header"
  "nav cont";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
grid-area: header;
background-color: aquamarine; 
}
.logo-img{ 
  width: 40px;
}
.nav {
grid-area: nav;
background-color: rgb(127, 225, 255); 
}

.content {
grid-area: cont; /*можно называть по своему усмотрению */
background-color: burlywood;
}
.ava-img {
  width: 100px;
}